.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo p{
    color: #b28aeb;
    font-size: 38px;
    font-weight: 600;
}
.nav-logo p:hover{
    cursor: pointer;
}

.nav-logo img {
    max-width: 100%;
    width: 50px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #F0A8D0;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button {
    width: 157px;
    height: 58px;
    height: none;
    border: 1px solid #7a7a7a;
    border-radius: 75px;
    color: #515151;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin-left: 20px;
}
.nav-login-cart button:active {
    background: #f3f3f3;
}
.nav-login-cart .cart-icon {
    width: 30px;
    height: 30px;
    color: #333; /* example color */
    cursor: pointer;
}

.nav-cart-count {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

@media(max-width: 1280px) {
    .navbar {
        padding: 12px 40px;
    }

    .nav-logo img {
        width: 45px;
    }

    .nav-logo p {
        font-size: 28px;
    }

    .nav-menu {
        gap: 35px;
        font-size: 16px;
    }

    .nav-login-cart {
        gap: 30px;
    }

    .nav-login-cart button {
        width: 130px;
        height: 50px;
        font-size: 16px;
    }

    .nav-cart-count {
        margin-left: -40px;
        font-size: 13px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 994px) {
    .navbar {
      padding-bottom: 12px;
      flex-wrap: wrap;
    }
    
    .nav-logo {
      order: 1;
      flex: 1 1 auto;
    }
    
    .nav-login-cart {
      order: 2;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
    
    .nav-menu {
      order: 3;
      width: 100%;
      justify-content: center;
      margin-top: 12px;
      flex-wrap: wrap;
    }
}

@media (max-width: 570px) {
    .navbar {
        padding: 12px 8px;
    }
    .nav-login-cart button {
        width: 100px;
        height: 40px;
        font-size: 16px;
    }
    .nav-logo p{
        font-size: 25px;
    }
}