* {
    margin: 0;
    box-sizing: border-box;
}

.hero {
    height: auto;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
    animation: fadeInLeft 1s ease forwards;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    background: #e584ea;
    padding: 30px 30px;
    border-radius: 75px;
    display: inline-block;
    text-align: center;
    width: fit-content;
}

.hero-left p {
    color: #b28aeb;
    font-size: 100px;
    font-weight: 700;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: fit-content;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    padding: 20px 20px;
    font-size: 22px;
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    max-width: 70%;
    max-height: 60%;
    object-fit: contain;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}